/* .body{
    font-family: 'roboto';
} */


/* .navbar-div{

    height: 600px;
} */





.navbar{
    width: 100%;
    margin-bottom: 10px;
}


.navbar-brand{
    position: relative;
    /* background: url(../images/logo.png); */
    /* width: 20px;
    height: 20px; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background-position: left;
}

.welcome {
    position: flex;
    text-align: center;
    font-weight: bold;
}

.navbar-nav button{
  border-radius: 5px;
  border: 1px solid black;
  margin: 0 1rem;
  padding: 1rem 2rem;
  font-weight: bold;
  background-color: white;
}

.navbar-nav button:hover{
  background-color: lightgray;
}

/* .nav-item{
    flex: relative;

} */

/* 
.navbar{ */
    /* background: rgb(37,37,37); */ 
    /* background-color: rgb(236, 206, 206);
    background: linear-gradient(90deg, rgba(37,37,37,1) 0%, rgba(49,49,49,1) 0%, rgba(56,56,56,1) 100%); */ 
    /* height: 20%;
    width: 100%; */
    /* padding-top: 5px;
    padding-bottom: 5px; */

/* width: 100%;
float: left;
margin: 0 0 3em 0;
padding: 0;
list-style: none;
background-color: #f2f2f2;
border-bottom: 1px solid #ccc; 
border-top: 1px solid #ccc;  */

/* background-color: black;
height: 100px; 
padding-right: 30px; 
padding-left: 30px


}

.logo {
    line-height: 50px;
   
}

.logo img {
    vertical-align: middle;
    height: 80px;
    width: 160px;
}


.navbar-button{
/* display: flex;
height: 30px;
text-align: center;
justify-content: center;
position: relative;
    float: right; */
/* 
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}
 */
 
 /* .navbar {
    min-height: 80px;
  } */
  
  /* .image-responsive {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }  */
  
  /* .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    /* margin-top: 23px;
    padding: 9px 10px !important;
  } */ 
  
  /* @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      /* padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }  */