
.body{
    font-family: "Montserrat";
}


/* .hero-container{
    width: 100px;
    height: 80px;
}

.hero-container img{
    width: 100%;
} */


.hero-container {
    position: relative;
    text-align: center;
    color: white;
  }


  .hero-container img{
      width: 100%;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: bold;
  }




.planetsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}


.staysContainer{
    display: flex;
    flex-wrap: wrap;
}

.staysCardImage{
    height: 200px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;

}


.staysCard {
    border: .5px solid black;
    /* width: 100px;
    height: 100px; */
    /* max-width: 30%;  */
    /* position: flex center; */
    font: "Montserrat";
    font-weight: 600;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 40%;
    margin-bottom: 2rem;
    border-radius: 10px;

}   

.staysCard a{
   text-decoration: none;
   color: black;
} 


/* 
.planetSingleContainer{
    display: flex;
    flex-wrap: wrap;
}

.planetSingleImage{
    height: 200px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;

}


.planetSingleCard {
    border: .5px solid black;
    /* width: 100px;
    height: 100px; */
    /* max-width: 30%;  */
    /* position: flex center; */
    /* font: "Montserrat";
    font-weight: 600;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 40%;
    margin-bottom: 2rem;
    border-radius: 10px;

}   

.planetSinlgeCard a{
   text-decoration: none;
   color: black;
}  */ 


.bookingButton {
  border-radius: 5px;
  border: 1px solid black;
  margin: 0 1rem;
  padding: 1rem 2rem;
  font-weight: bold;
  background-color: white;
}



@media (min-width: 768px) {
    .staysCard {
        width: 20%;
    }
    .planetsContainer {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
}


