
.body{
    font-family: 'roboto';
}

/* .planetCard-container{
    border: 1px solid black;
    border-radius: 30%;
    width: 400px;
    height: 400px;
} */

/* {
    box-sizing: border-box;
    margin: 0;
    padding-top: 20%;
  }  */

.planetCard-image{
    height: 200px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
    margin-bottom: 1rem;

}


.planetCard-container {
    border: .5px solid black;
    /* width: 100px;
    height: 100px; */
    /* max-width: 30%;  */
    /* position: flex center; */
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 40%;
    margin-bottom: 2rem;
    border-radius: 10px;
    
}   


.planetCard-container a{
   text-decoration: none;
   color: black;
} 

@media (min-width: 768px) {
    .planetCard-container {
        width: 20%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    }